.table-column {
    -fx-background-color: white;
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

.table-cell {
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.tableView {
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.TitleButton {
    -fx-font-family: sans-serif;
    -fx-text-fill: #F3F7EC;
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
    -fx-translate-z: -20px;
    -fx-effect: dropshadow(gaussian, black, 0.1, 0.01, 0 ,0);
}

.NumberButton {
    -fx-font-family: sans-serif;
    -fx-text-fill: white;
    -fx-font-size: 35pt;
    -fx-font-weight: bold;
    -fx-translate-z: -20px;
    -fx-effect: dropshadow(gaussian, black, 0.1, 0.01, 0 ,0);
}

.ButtonBox {
    -fx-background-color: linear-gradient(to bottom, #2980B9, #6DD5FA, #FFFFFF);
    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
    -fx-translate-z: -20px;
    -fx-effect: dropshadow(gaussian, black, 0.2, 0.1, 1 ,1);
}

.SearchBar {
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-color: black;
}
.tk {
        -fx-border-radius: 12px;
        -fx-background-radius: 12
        px;
        -fx-background-color: transparent;
        -fx-border-width: 2px;
        -fx-border-color: black;
}

.SearchBar:hover {
    -fx-cursor: hand;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.Glass {
    -fx-effect: dropshadow(gaussian, black, 0.1, 0.5, 0.3, 0.3);
}

.Glass:hover {
    -fx-cursor: hand;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.ButtonBox:hover {
    -fx-cursor: hand;
}

.ButtonBox:pressed {
    -fx-effect: none;
}

.HBoxMenuManegement {
    -fx-background-color:#FF5056;
    -fx-background-radius: 0 20 20 0;
    -fx-border-radius: 0 20 20 0;
    -fx-translate-z: -10;
    -fx-effect: dropshadow(gaussian, black, 1, 0.7, 2, 2);
}

.HBoxMenuManegement:hover {
    -fx-cursor: hand;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-opacity: 0.8;
}

.HBoxMenuManegement:pressed {
    -fx-effect: none;
    -fx-opacity: 0.8;
}

