.side_ankerpane {
    -fx-background-color: #FF6F91;
    /*-fx-border-color: #2207bb;*/
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    /*-fx-border-style: solid;*/
}

.inner_pane {
    -fx-background-color: #FFB6C1;
    /*-fx-border-color: #2207bb;*/
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    /*-fx-border-style: solid;*/
}

#btn_home {
    -fx-background-color: #c210ad;
    /*-fx-border-color: #2207bb;*/
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    /*-fx-border-style: solid;*/

}

.btn_unclick {
    -fx-background-color: #FF5B82;
    /*-fx-border-color: #2207bb;*/
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    /*-fx-border-style: solid;*/

}