#loginPane {
    -fx-border-color: #f4546d;
    -fx-border-radius: 20;
    -fx-padding: 20;
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-border-width: 2px;
}

.border {
    -fx-padding: 10;
    -fx-border-radius: 40;
    -fx-border-color: #f4546d;
    -fx-border-width: 3px;
    -fx-background-color: white;
}

.label-create-account {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-padding: 10;
}

.label-create-account:hover {
    -fx-text-fill: blue;
}

.text-field {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #f4546d;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-border-width: 1.5;
    -fx-font-size: 16px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.text-field:hover {
    -fx-background-color: #ffffff;
}

.check {
    -fx-text-fill: green;
    -fx-font-size: 12px;
}

.button-signin {
    -fx-background-color: EF5E7A;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-padding: 10 10;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.button:hover {
    -fx-background-color: #f4546d;
}

.image {
    -fx-opacity: 1;
}

.image:hover {
    -fx-background-color: #ffffff;
}