BorderPane#root {
    -fx-bottom : 1px;
}

.HboxLarge {
    -fx-spacint: 15px;
}

.HboxSmall{
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-background-color: linear-gradient(to bottom, #2af598, #009efd);
    -fx-opacity: 0.7;
    -fx-translate-z: -10px;
    -fx-effect: dropshadow(gaussian, black, 2, 0.9, 2.5, 2.5);
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}

.HboxSmall:hover {
    -fx-cursor: hand;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.HboxSmall:pressed {
    -fx-effect: none;
    -fx-translate-z: 0px;
}

.LabelHboxSmall{
    -fx-font-size: 20pt;
    -fx-font-weight: normal;
    -fx-effect: dropshadow(gaussian, black, 0.5, 0.05, 0, 0);
}
.LabelHboxSmallExtra{
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, black, 0.5, 0.05, 0, 0);
}

.BarChart{
    -fx-stroke-width: 2px;
    -fx-bar-fill : red;
    -fx-effect: dropshadow(gaussian, black, 1, 0.01, 0, 0);
}

.Axis {
    -fx-alignment: center;
}

.HboxChart {
    -fx-pref-width: 2000;
    -fx-pref-height: 400;

}

.HboxChart .BarChart {
    -fx-pref-width: 800;
    -fx-effect: dropshadow(gaussian, black, 2, 0.3, 0, 0);
}
.LabelHboxLarge {
    -fx-font-size: 25px;
    -fx-translate-z: -5;
    -fx-effect: dropshadow(gaussian, black, 1, 0.01, 0, 0);
}

.ScrollPane {
    -fx-background-color: #f4f4f4;
    -fx-background-radius: 8px;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-translate-z: -10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.5, 0, 2);

}

.HboxPane{

    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-translate-z: -10px;
}

.ScrollPane .scroll-bar {
    -fx-background-color: transparent;
}

.ScrollPane:hover .scroll-bar {
    -fx-opacity: 1;
}

.ScrollPane .scroll-bar .track {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
}

.ScrollPane .scroll-bar .thumb {
    -fx-background-color: #FF5056;
    -fx-opacity: 0.7;
    -fx-background-radius: 10px;
    -fx-min-width: 10px;
    -fx-min-height: 10px;
}

.ScrollPane .scroll-bar .thumb:hover {
    -fx-background-color: #FF5056;
    -fx-opacity: 0.7;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.5, 0, 2);
}

.imageView {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, black, 0.5, 0.2, 0, 0);
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
}

.imageViewExtra {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-translate-z: -10px;
    -fx-effect: dropshadow(gaussian, black, 1, 0.7, 2, 2);
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
}

.imageViewExtra:hover {
    -fx-cursor: hand;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05
}

.imageViewExtra:pressed {
    -fx-effect: none;
}

.Separator {
    -fx-border-width: 1px;
    -fx-border-color: yellow;
    -fx-background-color: yellow;
}

.HBoxMenu {
    -fx-background-color:#FF5056;
    -fx-background-radius: 0 20 20 0;
    -fx-border-radius: 0 20 20 0;
    -fx-translate-z: -10;
    -fx-effect: dropshadow(gaussian, black, 1, 0.7, 2, 2);
}

.Browse {
    -fx-background-color: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    -fx-translate-z: -10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.5, 0, 2);
    -fx-background-radius: 0 15 15 0;
    -fx-border-radius: 0 15 15 0;
    -fx-opacity: 0.7;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 18;
}

.Browse:hover {
    -fx-opacity: 0.8;
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
}

.HBoxMenu:hover {
    -fx-opacity: 0.8;
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
}

.HBoxMenu:pressed {
    -fx-effect: none;
}

.LabelMenu {
    -fx-font-size: 23px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, black, 0.01, 0.3, 0, 0);
    -fx-font-family: sans-serif;
    -fx-text-fill: white;
}

.ImageMenu {
    -fx-effect: dropshadow(gaussian, black, 0.5, 0.9, 0, 0.5);
    -fx-translate-z: -10px;
}

.TopPane {
    -fx-background-color: #1F509A;
}


.HboxGiant {
    -fx-border-width: 0px;
    -fx-border-color: yellow transparent transparent transparent;
}

<<<<<<< HEAD
.LabelTitle {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.5, 0, 1);
    -fx-translate-z: -10;
}
=======
.anchor-pane {
    -fx-background-image: url("../images/background.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.anchor-pane2 {
    -fx-background-image: url("../images/gamerule.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.anchor-pane3 {
    -fx-background-image: url("../images/main.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}


>>>>>>> be32bf03ce4951242bb3f2780e38fc2266eb02bb
